.cart {
  padding-top: 50px;
  padding-bottom: 70px;
  h1 {
    text-align: left;
  }
  &-default {
    display: flex;
    flex-direction: column;
    align-items: center; 
    &__title {
      margin: 20px 0 40px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__flex {
    display: flex;
    margin-top: 50px;
  }
  &-result {
    width: 510px;
    height: max-content;
    padding: 40px;
    background: #F9FBFF;
    border: 1px solid $border;
    border-radius: 5px;
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }
      &__body {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
      }
    }
    &-promocode {
      margin-bottom: 20px;
    }
    &__btn {
      width: 100%;
      text-align: center;
    }
  }
  &-box {
    flex-grow: 1;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  &-item {
    padding: 40px;
    border: 1px solid #E8E9EB;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    &-image { 
      width: 310px;
      height: 200px;
      &__img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__inner {
      flex-grow: 1;
      margin: 0 30px;
    }
    &__category {
      color: $orange;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.05em;
      margin-bottom: 10px;
    }
    &__name {
      font-weight: 600;
      font-size: 26px;
      line-height: 31px;
    }
    &-count {
      margin-top: 30px;
      .count {
        display: flex;
        height: 40px;
        &__btn {
          height: 100%;
          width: 40px;
          background: #F9FBFF;
          border: 1px solid #E9EEF8;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          cursor: pointer;
        }
        &-minus {
          border-radius: 5px 0 0 5px;
        }
        &-plus {
          border-radius: 0 5px 5px 0;
        }
        &-value {
          height: 100%;
          width: 40px;
          border: 1px solid $border;
          text-align: center;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    &-price {
      display: flex;
      align-items: center;
      margin-top: 30px;
      &__head {
        margin-right: 15px;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
      }
      &__content {
        display: block;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
      }
    }
    &__delete {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $lightGrey;
      cursor: pointer;
      position: absolute;
      top: 40px;
      right: 40px;
    }
  }
}

.cart-promocode {
  &._mobile {
    display: none;
    width: 510px;
    padding: 40px;
    background: #F9FBFF;
    border: 1px solid $border;
    border-radius: 5px;
  }
  &__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__input {
    margin: 15px 0 20px;
  }
  &__btn {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1440px) {
  .cart {
    &-box {
      margin-right: 0;
    }
    &-result {
      position: fixed;
      z-index: 4;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 30px 15px 20px;
      background: #FFFFFF;
      box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px 10px 0px 0px;
      &-head {
        margin-bottom: 10px;
      }
      .cart-promocode {
        display: none;
      }
    }
  }
  .cart-promocode {
    &._mobile {
      display: block;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 870px) {
  .cart {
    &-item {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 60px 30px 30px;
      &__inner {
        margin: 0;
      }
      &-image {
        max-width: 100%;
        height: auto;
        &__img {
          display: block;
        }
      }
      &__category {
        margin: 20px 0 10px;
      }
      &-count {
        margin-top: 30px;
        .count {
          justify-content: center;
        }
      }
      &-price {
        justify-content: center;
      }
      &__delete {
        top: 20px;
        right: 20px;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .cart {
    padding-top: 30px;
    &__flex {
      margin-top: 30px;
    }
    &-item {
      &-image {
        width: 100%;
      }
    }
    &-promocode {
      &._mobile {
        padding: 30px;
      }
    }
  }
}