{% extends 'base.html' %}
{% block title %}
    {{ block.super }} : Новости
{% endblock %}
{% block content %}
    <section class="articles">
        <div class="container">
            <h1>Новости</h1>
            <div class="articles__flex">
                {% for item in news %}
                    <a href="#" class="articles-item">
                        <div class="articles-item__head">{{ item.title }}</div>
                        <div class="articles-item__body">{{ item.short_desc }}</div>
                        <div class="articles-item__link">ЧИТАТЬ →</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
