{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ block.super }} : {{ title }}
{% endblock %}
{% block content %}

    <section class="homepage">
        <div class="slider">
            <div class="slider-item" style="background-image: url({% static 'image/banner/SADualshotSet.png' %});">
                <p class="slider-item__title">SA Dualshot Keycap Set</p>
                <p class="slider-item__subtitle">Лимитированое издание даблшот кейкапов SA профиля</p>
                <a href="#" class="slider-item__btn">Подробнее</a>
            </div>
            <div class="slider-item" style="background-image: url({% static 'image/banner/Keyboard.png' %});">
                <p class="slider-item__title">SA Dualshot Keycap Set</p>
                <p class="slider-item__subtitle">Лимитированое издание даблшот кейкапов SA профиля</p>
                <a href="#" class="slider-item__btn">Подробнее</a>
            </div>
            <div class="slider-item" style="background-image: url({% static 'image/banner/RedDragon.png' %});">
                <p class="slider-item__title">SA Dualshot Keycap Set</p>
                <p class="slider-item__subtitle">Лимитированое издание даблшот кейкапов SA профиля</p>
                <a href="#" class="slider-item__btn">Подробнее</a>
            </div>
        </div>
    </section>
    <section class="popular">
        <div class="container">
            <h1>Популярные товары</h1>
            <div class="popular__flex">
                {% for item in items %}
                    <div class="product-small">
                        <div class="product-small__image-wrapper">
                            <img src="{{ item.main_photo.url }}" alt="" class="product-small__image">
                            <a href="{% url 'view_item' %}" class="product-small__link">Подробнее</a>
                        </div>
                        <a href="{% url 'view_item' %}" class="product-small__name">
                            <span class="company">{{ item.company_fk }}</span>
                            <span class="name">{{ item.name }}</span>
                        </a>
                        <div class="product-small__switches">
                            <div class="product-small__switches-head">Переключатели:</div>
                            <ul class="product-small__switches-body">

                                {% for switch in item.keyboardswitches_set.all %}
                                    <li class="sw{{ switch.switch_fk.title }}{% if switch.count == 0 %} disabled{% endif %}">
                                        {{ switch.switch_fk.title }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="product-small__price">
                            Цена: от <span>{{ item.price }}</span> <span>₽</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="gradient" id="gradient">
        <div class="container">
            <div class="gradient__flex">
                <div class="gradient-head">
                    <p>Клавиатуры с RGB подсветкой</p>
                    <a href="#" class="gradient-head__link">Подробнее</a>
                </div>
                <div class="gradient__btn">
              <span>
                Остановить
              </span>
                    <span class="pause">
                Продолжить
              </span>
                </div>
            </div>
        </div>
    </section>
    <section class="index-news">
        <div class="container">
            <div class="index-news__wrapper">
                <div class="index-news__head">
                    <h2>Новые статьи</h2>
                    <a href="/articles.html" class="index-news__link">Все статьи →</a>
                </div>
                <div class="index-news__flex">
                    {% for new in news %}
                        <div class="new">
                            <p class="new__date">{{ new.created_at|date:"d E H:i" }}</p>
                            <a href="#" class="new__head">{{ new.title }}</a>
                            <p class="new__desc">{{ new.short_desc }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}