{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ block.super }} : {{ company }} {{ item.name }}
{% endblock %}
{% block content %}
    <section class="item">
        <div class="container">
            <div class="item__flex">
                <div class="item__left">
                    <div class="images">
                        <div class="images-big">
                            <div class="images-big__image-wrapper">
                                <img src="{{ item.main_photo.url }}" alt="" class="images-big__image">
                            </div>
                        </div>
                        <div class="images-small">
                            <div class="images-small__image-wrapper">
                                <img src="{{ item.main_photo.url }}" alt="" class="images-small__image">
                            </div>
                            {% for photo in item.itemwithphoto_set.all %}
                                <div class="images-small__image-wrapper">
                                    <img src="{{ photo.photo.url }}" alt="" class="images-small__image">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="item__right">
                    <div class="item__info">
                        <div class="item__category">
                            {{ item.category_fk.title }}
                        </div>
                        <div class="item__name">
                            <span>Varmilo</span> <span>VA87M Vintage Days</span>
                        </div>
                        <div class="item-switches">
                            <div class="item-switches__title">
                                Выберите тип переключателей
                            </div>
                            <div class="item-switches__flex">
                                {% for switch in item.keyboardswitches_set.all %}
                                    <div class="item-switches__item {{ switch.switch_fk.title.lower }}Switch
                                    {% if switch.count == 0 %}
                                        disabled
                                    {% endif %} ">
                                        {{ switch.switch_fk.title }}
                                        <input type="hidden" name="switchPrice" value="{{ switch.switch_fk.price }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <a href="#" class="item-switches__more">
                                Подробнее о переключателях
                            </a>
                        </div>
                        <div class="item__desc-small">
                            {{ item.desc_small }}
                        </div>
                        <div class="item-bottom">
                            <input type="hidden" name="basePrice" value="{{ item.price }}" >
                            <div class="item__price">
                                <span>13 490</span> ₽
                            </div>
                            <a href="#" class="item__btn btn">Добавить в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item__flex">
                <div class="item__left">
                    <div class="item-desc">
                        {{ item.desc|safe }}
                    </div>
                </div>
                <div class="item__right">
                    <div class="item-feature__box">
                        <div class="item-feature__title">Основные характеристики</div>
                        <div class="item-feature__flex">
                            <div class="item-feature__item">Производитель: {{ item.company_fk.title }}</div>
                            <div class="item-feature__item">Тип переключателей: {{ item.keyboardswitches_set.first.switch_fk.company_fk.title }}</div>
                            <div class="item-feature__item">Модель: {{ item.name }}</div>
                            {% for desc in item.itemcharacteristic_set.all %}
                                <div class="item-feature__item">{{ desc.title }}: {{ desc.content }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}