{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}
{% block footer %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <section class="login login__styles">
        <div class="container">
            <div class="login__box">
                <div class="image">

                </div>
                <form method="POST" class="form">
                    {% csrf_token %}
                    <div class="form-wrapper">
                        <p class="login__title">
                            Вход
                        </p>
                        <p class="login__subtitle">
                            Нет аккаунта? <a href="{% url 'register' %}" class="link">Зарегистрироваться</a>
                        </p>
                        <div class="input-wrapper">
                            {{ form.username }}
                        </div>
                        <div class="input-wrapper">
                            {{ form.password }}
                            <div class="forgot-pass__wrapper">
                                <a href="#" class="forgot-pass link">Забыли пароль?</a>
                            </div>
                        </div>
                        <ul class="login-alert">
                            <li>Имя пользователя уже занято</li>
                        </ul>
                    </div>
                    <button type="submit" class="login__btn btn">Войти</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}