$text: #131D26;
$blue: #3C8FF1;
$grey: #999999;
$green: #189D5D;
$orange: #E58513;
$lightGrey: #AAAAAA;
$swBrown: #7C5507;
$swBlue: #3C8FF1;
$swRed: #EF3E5E;
$swSilentRed: #F8778E;
$swBlack: #4F4F4F;
$swClear: #AEAEAE;
$swSpeedSilver: #999999;